[submodule "themes/themes/hugo-astatine-theme"]
	path = themes/themes/hugo-astatine-theme
	url = https://github.com/hugcis/hugo-astatine-theme
[submodule "themes/gallery"]
	path = themes/gallery
	url = https://github.com/nicokaiser/hugo-theme-gallery.git
